body{
    padding: 0px;
    margin: 0px;
}

.col-12{
    padding-left: 0px;
    padding-right: 0px;
}

/*--- Colors ---*/

/*--- Text-transform Padding and Margins ---*/
.center{
    text-align: center;
}


/*--- Navbar ---*/


.navbar{
    margin:0px;
    padding: 0px;
}

ul{
    margin: 0px;
}

.list-inline-item{
    width: 19%;
    margin: 0px;
    text-align: center;
    height: 100px;
    background-color: lightblue;
    margin-right: 0px;
}